@CHARSET "UTF-8";
#member{
	width: auto;
	height: 800px;
	border: 2px solid black;
	font-size: 2px;		
}
#member h2{
	text-indent: 0;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
#member #member_guide{
	border: 1px solid black;
	width: 300px;
	height: 600px;
	float: left;
	margin: 15px;
}
#member #member_guide dl{
	width: 250px;
	background: red;
	margin: 15px auto;
}
#member #member_guide dl dd{
	height: 40px;
	line-height: 40px;
	background: #999;
	font-weight: bold;
	text-align: center;
	color: white;
}
#member #member_guide dl dt{
	height: 40px;
	line-height: 40px;
	background: #eee;
	font-weight: bold;
	text-align: center;	
}
#member #member_guide dl dt a{
	display: block;
	text-decoration: none;
	color: #333;
}
#member #member_guide dl dt a:hover{
	background: #ccc;
}

#member #member_main{
	border: 1px solid black;
	width: 590px;
	height: 600px;
	margin: 15px;
	float: right;
}
#member #member_main dl{
	width: 500px;
	margin: 15px auto;
	font-size: 14px;	
}
#member #member_main dl dd{
	padding: 10px 0;
	border-bottom: 1px dashed #999;
}
#member #member_main dl dd input.text{
	width: 220px;
	height: 19px;
	border: 1px dashed #333;
	background:white;
}
#member #member_main dl dd input.yzm{
	width: 60px;
}
#member #member_main dl dd img#code{
	position: relative;
	top: 5px;
	cursor: pointer;
	margin: 0 0 0 1px;
}
#member #member_main dl dd input.submit{
	width: 60px;
	height: 20px;
	border: 2px solid #333;
	background: white;
	cursor: pointer;
}
p textarea
{
	margin: 10px 0 0 65px;
	background: white;
	border: 1px dashed #333; 
}