@CHARSET "UTF-8";
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: #f60;
}
#post{
	width: auto;
	height: 800px;
	border: 2px solid black;
	font-size: 2px;
	position: relative;
}
#post h2{
	text-indent: 0;
	text-align: center;
}
#post dl{	
	width: 600px;
	margin: 10px 250px;		
}
#post dl dt{
	text-align: 30%;
	padding: 10px 0;
	font-weight: bold;
}
#post dl dd{
	padding: 0 0 10px 0;
}
#post dl dd label{
	cursor: pointer;
	display: inline-block;
	padding: 0 2px 0 0;
	height: 20px;
}
#post dl dd #ubb{
	width: 460px;
	height: 26px;
	background: url(../../image/1/bg.jpg);
	border: 1px dashed black;
	border-bottom: none;
}
#post dl dd #ubb img{
	display: block;
	float: left;
	padding: 5px 2px 0 0;
}
#post dl dd #font{
	display: none;
	width: 200px;
	height: 48px;
	background: #eee;
	border: 1px dashed #333;
	padding: 8px;
	line-height: 20px;
	position: absolute;
	top: 214px;
	//left: 180px;
	left: 250px;
}
#post dl dd #font strong{
	font-weight: none;
	margin-left: 5px;
	background: #fff;
	border: 1px solid #ccc;
	cursor: default;
}
#post dl dd #color{
	display: none;
	width: 152px;
	height: 130px;
	border: 1px dashed black;
	background: #eee;
	font-size: 12px;
	position: absolute;
	top: 214px;
	//left: 295px;
	left: 365px;
	padding-left: 4px;
	padding-top: 4px;
}
#post dl dd #color strong{
	width: 12px;
	height: 12px;
	display: block;
	border: 1px solid #999;
	float: left;
	margin-left: 4px;
	margin-top: 4px;
}
#post dl dd #color em{
	display: block;
	width: 80%;
	height: 28px;
	clear: both;
}
#post dl dd #color em input{
	margin-top: 8px;
	margin-left: 4px;
	width: 136px;
	height:20px;
	cursor: pointer;
	background: #fff;
}
#post dl dd textarea{
	width: 450px;
	border: 1px dashed black;
	background: white;
	border-top: none;
	overflow-y: auto;
	padding: 5px;
}
#post dl dd img#code{
	position: relative;
	top: 5px;
	cursor: pointer;
}
#post dl dd input.text{
	width: 300px;
	height: 19px;
	border: 1px dashed #333;
	background:white;
}
#post dl dd input.yzm{
	width: 60px;
}
#post dl dd.code{
	margin: 0 0 0 230px;
}
#code{
	padding: 0 0 0 10px;
}
#post dl dd input.submit{
	width: 60px;
	height: 19px;
	border: 1px dashed #333;
	background: white;
	cursor: pointer;
	margin: 10px 0 0 390px;
}