@CHARSET "UTF-8";
#login{
	width: auto;
	height: 400px;
	border: 2px solid black;
	font-size: 2px;
}
#login h2{
	text-indent: 0;
	text-align: center;
	margin: 0 0 30px 0;
}
#login dl{	
	width: 300px;
	margin: 0 auto;		
}
#login dl dt{
	text-align: center;
	padding: 10px 0;
	font-weight: bold;
}
#login dl dd{
	padding: 0 0 10px 0;
}
#login dl dd input.text{
	width: 200px;
	height: 19px;
	border: 1px dashed #333;
	background:white;
}
#login dl dd input.yzm{
	width: 60px;
}
#login dl dd img#code{
	position: relative;
	top: 5px;
	cursor: pointer;
}
#login dl dd input.button{
	width: 60px;
	height: 19px;
	border: 2px solid #333;
	background: white;
	cursor: pointer;
	margin: 10px 0 0 70px;
}
#login dl dd input.location{
	margin: 10px 0 0 10px;
}
